<style>
    .nav-tabs {
        width: 100%;
    }

    pre {
        overflow-x: auto;
        width: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Form Components</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs ">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#text-inputs" role="tab">Text Inputs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#selection" role="tab">Selection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#checkbox" role="tab">Check Box</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#radio" role="tab">Radio Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nested-list" role="tab">Nested List</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="text-inputs" role="tabpanel">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs ">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#text" role="tab">Text Box</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#email" role="tab">Email Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#datepicker" role="tab">Date Picker</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="text" role="tabpanel">
                                    <div class="text-box-demo"></div>
                                </div>
                                <div class="tab-pane" id="email" role="tabpanel">
                                    <div class="email-demo"></div>
                                </div>
                                <div class="tab-pane" id="datepicker" role="tabpanel">
                                    <div class="date-picker-demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="selection" role="tabpanel">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs ">
                                <li class="nav-item ">
                                    <a class="nav-link active" data-toggle="tab" href="#drop-down" role="tab">Drop
                                        Down</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#nested-check-box" role="tab">Nested
                                        Check
                                        Box</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="drop-down" role="tabpanel">
                                    <div class="drop-down-demo"></div>
                                </div>
                                <div class="tab-pane" id="nested-check-box" role="tabpanel">
                                    <div class="nested-check-box-demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="checkbox" role="tabpanel">
                    <div class="checkbox-demo"></div>
                </div>
                <div class="tab-pane" id="radio" role="tabpanel">
                    <div class="radio-demo"></div>
                </div>
                <div class="tab-pane" id="nested-list" role="tabpanel">
                    <div class="nested-list-demo"></div>
                </div>
            </div>
        </div>
    </div>
</div>
