<style>
    pre {
        overflow-x: auto;
        width: 100%;
    }

    @media (min-width: 768px) {
        .navbar-brand {
            width: 100%;
        }
    }

    h4, h5 {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }
</style>
<ul class="nav nav-tabs">
    <tab (trigger)="log('Worked!')">Sample Tab</tab>
</ul>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 nav-sidebar bg-light">
            <nav class="navbar navbar-expand-md navbar-light flex-md-column">
                <a class="navbar-brand" routerLink="/forms" routerLinkActive="active">Forms</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav flex-column">
                        <div class="nav-brand">Components</div>
                        <a class="nav-link" routerLink="check-box" routerLinkActive="active" tabindex="0" (activate)="log('Worked!')">Check Box</a>
                        <a class="nav-link" routerLink="nested-check-box" routerLinkActive="active">
                            Nested Check Box
                        </a>
                        <a class="nav-link" routerLink="nested-list" routerLinkActive="active">
                            Nested List
                        </a>
                        <a class="nav-link" routerLink="radio" routerLinkActive="active">Radio Buttons</a>
                        <a class="nav-link" routerLink="text-box" routerLinkActive="active">Text Box</a>
                        <a class="nav-link" routerLink="phone" routerLinkActive="active">Phone</a>
                        <a class="nav-link" routerLink="email" routerLinkActive="active">Email Address</a>
                        <a class="nav-link" routerLink="date-picker" routerLinkActive="active">Date Picker</a>
                        <a class="nav-link" routerLink="drop-down" routerLinkActive="active">
                            Drop Down (Select)
                        </a>
                        <div class="nav-brand">&nbsp;</div>
                        <div class="nav-brand">Validation</div>
                        <a class="nav-link" routerLink="./match-value" routerLinkActive="active">
                            Match Value (Confirmation)
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 nav-content">
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
    </div>
</div>
