<div class="card card-body bg-light">
    <nested-list
         [item]="model.nestedListNode">
    </nested-list>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#nested-list-markup" role="tab">
            HTML
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nested-list-data" role="tab">
            Data
        </a>
    </li>
</ul>
<div class="tab-content card">
    <div class="tab-pane active" id="nested-list-markup" role="tabpanel">
        <pre class="card card-body bg-light">{{ markup }}</pre>
    </div>
    <div class="tab-pane" id="nested-list-data" role="tabpanel">
        <pre class="card card-body bg-light">{{ model | json }}</pre>
    </div>
</div>
